<% trip_id = params["id"] %>
<% trip = Trip.read(trip_id) %>

<div class="row">
    <%= image_tag(trip["photo_url"]) %>

    <% avg = Review.where("trip_id" => trip["id"]).average(:rating).to_i %>
    <h4>Avg Rating:
      <% avg.times do %>
        &star;
      <% end %>
</div>

<div class="row">
    <h1><%= trip["title"] %> </h1>
    <h4>Probability of Encounter: <%= trip["probability"] %>%</h4><p>Based on Pelagic Life's previous expedition success rate. </p>
</div>

<div class="row">  
	<h3> Season </h3>  
    <p> Months where there exists probability of encounter: 
    <% months = Season.where("trip_id" => trip["id"]) %>
    	<% months.each do |month| %>
	    	<% the_month = Month.find_by("id" => month["month_id"]) %>
	    	<%= link_to the_month["title"], "/months/#{the_month["id"]}" %>,
			<% end %>
    </p>
</div>

<div class="row">  
	<h3> Description </h3>  
    <p> Location known as: <%= trip["description"] %> </p>
</div>

<div class="row">  
	<h3> Location information </h3>  
    <% location = Location.find_by("id" => trip["location_id"]) %>
    <p> Location known as: <%= location["title"] %> </p>
    <p> Nearest airport: <%= location["nearest_airport"] %> </p>
    <p> Accomodations: <%= location["accomodation"] %> </p>
</div>

<div class="row">   
    <h3> Recomended Operator </h3> 
    <% operator = Operator.find_by("id" => trip["operator_id"]) %>
    <p> Company name: <%= operator["title"] %> </p>
    <p> Owner/contact: <%= operator["owner"] %> </p>
    <p> <%= link_to "Contact them to check for rates and availability", operator["contact_url"] %> </p>

</div>

<div class="row">  
<h3>Traveler's Reviews</h3>

<% if Review.where("trip_id" => trip["id"]).count == 0 %>
  <p>Be the first to add a review!</p>
<% end %>

<%= form_tag "/reviews" do %>

  <%= hidden_field_tag "trip_id", trip["id"] %>

  <div class="form-group">
    <%= label_tag :rating %>
    <%= select_tag :rating, options_for_select(['5 stars','4 stars','3 stars','2 stars','1 star']) %>
    <%= text_area_tag :content, "", "class" => "form-control", "placeholder" => "Tell us about your experience!", "rows" => 4 %>
  </div>

  <%= submit_tag "Add Review", "class" => "btn btn-md btn-primary" %>
<% end %>

<% Review.where("trip_id" => trip["id"]).each do |review| %>
  <% the_user = User.find_by("id" => review["user_id"]) %>
  <div class="review row">
    <div class="col-md-3">
      <p><%= review.rating %>/5 
      <% if the_user.present? %>
        by <%= the_user["name"] %></p>
      <% end %>
    </div>
    <div class="col-md-8">
      <p><%= review.content %></p>
    </div>
  </div>

<% end %>

</div>