<% the_id = params["id"] %>
<% the_location = Location.read(the_id) %>
<% the_trips = Trip.where("location_id" => the_location["id"]) %>

<h3>Expedition(s) in <%= the_location["title"] %> </h3>

<div class="row">

  <div class="col-md-8">

    <% the_trips.order("id asc").each do |trip| %>

      <div class="row trip">

        <div class="col-md-4">
          <%= link_to image_tag(trip["photo_url"]), "/trip/#{trip["id"]}" %>
        </div>

        <div class="col-md-8">
          <h3>
            <%= link_to trip["title"], "/trip/#{trip["id"]}" %>
          </h3>
          <p>Probability of Encounter: <%= trip["probability"] %>%</p>

          <% operator = Operator.find_by("id" => trip["operator_id"]) %>
          <% if operator.present? %>
            <p>Operator: <%= operator["title"] %></p>
          <% end %>
        </div>

      </div>
    <% end %>
  </div>